@media screen and (max-width:376px){
    body{
        height:100%;
    }
    .container{
        height: 600px;
        margin:80px 30px;
        background-color: #c89f9f;
    }
    .corpo-text{
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .titulo-um{
        font-size: 1.45rem;
        text-align: justify;
        
    }
    .text-body{
        color:lightgrey;
        font-size: 15px;
    }



}